<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sock(et), Paper, Scissors</title>
    <script src="/socket.io/socket.io.js"></script> 
    <!-- socket script has to go in header so that it is read first upon page load -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Sock(et), Paper Scissors</h1>
    </header>
    <%-body%>
    <footer>
        <h4>Made with &hearts; and Socket.io</h4>
        <h4>Kennan Salisbury 2020</h4>
    </footer>
    <script src="app.js"></script>
</body>
</html>